/*website background*/
body {
	background-image: url('../img/back2.jpg');
}

/*change color of the button background when mouse hover*/
li:hover {
	background: black;
}

/* format description */
.description {
	border-radius: 15px;
	background-color: white;
	padding: 10px;
	text-align: center;
	margin-top: 120px;
}

/* format h3 style */
h3::first-line {
    font-family: Narkisim; 
    font-size: xx-large;
}

/* format CV */
#cv {
	border-radius: 15px;
	background-color: white;
	padding: 10px;
	margin-top: -7px;
}


#div1 {
	float:left; 
	width:200px; 
	height:90px; 
	margin:10px;
	padding:10px;
	border:1px solid #aaaaaa;
	margin-top: 200px;
	margin-left: 200px;
}

#div2 {
	float:right; 
	width:200px; 
	height:90px; 
	margin:10px;
	padding:10px;
	border:1px solid #aaaaaa;
	margin-top: 200px;
	margin-right: 200px;
}

/* format ex1 */
#ex1 {
	background-color: white;
	border-radius: 15px;
	text-align: center;
	margin-top: 50px;
	padding: 13px;
}

/* format ex2 */
#ex2 {
	background-color: white;
	border-radius: 15px;
	text-align: center;
	margin-top: 50px;
	padding: 13px;
}

/* format map style */
#mapholder {
	margin-top: 110px;
	text-align: center;
}